Repository tangxiangong/libm-ext: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-sort

.pre-commit-config.yaml:

fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt --all
        description: Format files with rustfmt.
        entry: bash -c 'cargo fmt -- --check'
        language: rust
        files: \.rs$
        args: []
      - id: cargo-check
        name: cargo check
        description: Check the package for errors.
        entry: bash -c 'cargo check --all'
        language: rust
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Lint rust sources
        entry: bash -c 'cargo clippy --all-targets --all-features --tests --benches -- -D warnings'
        language: rust
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: unit test for the project
        entry: bash -c 'cargo test --all'
        language: rust
        files: \.rs$
        pass_filenames: false
      - id: cargo-sort
        name: cargo sort
        description: Sort dependencies in Cargo.toml
        entry: bash -c 'cargo sort'
        language: rust
        files: \.toml$
        pass_filenames: false

chore: delete `Cargo.lock` and ignore it
  .gitignore
  Cargo.lock
Due: none

chore: add README as crate docs and update Cargo config
  Cargo.toml
  README.md
  src/lib.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-sort

chore: fix crate name
  Cargo.toml
Due: cargo-sort

Initial commit
  .gitignore
  LICENSE
  README.md
Due: none

Add Apache License file
  LICENSE
  LICENSE-APACHE
Due: none

Add MIT License to the project
  LICENSE-MIT
Due: none

chore: Update copyright year and owner in LICENSE-APACHE file
  LICENSE-APACHE
Due: none

chore: Initialize Rust and Python project structure with configuration files and dependencies
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .gitignore
  .python-version
  Cargo.toml
  cliff.toml
  libm-ext/.cargo/config.toml
  libm-ext/Cargo.toml
  libm-ext/README.md
  libm-ext/docs-header.html
  libm-ext/src/lib.rs
  pyproject.toml
  python/libm_ext/__init__.py
  python/libm_ext/_core.pyi
  scripts/stub_gen.sh
  src/bin/stub_gen.rs
  src/lib.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-sort

chore: Change package version to 0.0.1 in Cargo.toml
  Cargo.toml
Due: cargo-sort

fix: Update paths for documentation header in Cargo.toml and config.toml
  libm-ext/.cargo/config.toml
  libm-ext/Cargo.toml
Due: cargo-sort

feat: Add trigonometric module with sinpi function for improved accuracy
  libm-ext/src/lib.rs
  libm-ext/src/trigonometric.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

fix: Update category from "math" to "mathematics" in Cargo.toml
  libm-ext/Cargo.toml
Due: cargo-sort

chore: Change package version to 0.0.1 in pyproject.toml
  pyproject.toml
Due: cargo-sort

chore: Update GitHub Actions workflow to trigger on main branch and clean up formatting
  .github/workflows/test.yml
Due: none

chore: Refactor Cargo.toml files to remove workspace configuration and standardize package metadata
  Cargo.toml
  libm-ext/.cargo/config.toml
  libm-ext/Cargo.toml
Due: cargo-sort

feat: Introduce trigonometric functions in libm-ext with `sinpi`, `cospi`, `sincospi` and utility functions
  libm-ext/README.md
  libm-ext/src/lib.rs
  libm-ext/src/trig.rs
  libm-ext/src/trigonometric.rs
  libm-ext/src/utils.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

chore: Add LICENSE-APACHE and LICENSE-MIT files to libm-ext
  libm-ext/LICENSE-APACHE
  libm-ext/LICENSE-MIT
Due: none

chore: Update permissions for stub_gen.sh to make it executable
  scripts/stub_gen.sh
Due: none

chore: Add .gitattributes file to specify linguist settings for generated and detectable files
  .gitattributes
Due: none

feat: Implement vectorized trigonometric functions and update Cargo.toml dependencies
  Cargo.toml
  python/libm_ext/_core.pyi
  src/lib.rs
  src/trig.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, cargo-sort

chore: Add numpy dependency to pyproject.toml for enhanced numerical capabilities
  pyproject.toml
Due: cargo-sort

chore: Add py.typed file for type hinting support in libm-ext
  python/libm_ext/py.typed
Due: none

feat: Add vectorized trigonometric functions in libm-ext
  python/libm_ext/__init__.py
  python/libm_ext/ext/__init__.py
  python/libm_ext/ext/trig.py
  python/libm_ext/trig.py
Due: none

feat: Add utility functions for benchmarking and time formatting in libm-ext
  python/libm_ext/ext/utils.py
Due: none

Update .gitattributes for linguist settings
  .gitattributes
Due: none

fix: Remove redundant import of vectorized module in trig.rs
  src/trig.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

refacotr: Rename vectorized functions module `ext` to `vectorized`
  python/libm_ext/__init__.py
  python/libm_ext/vectorized/__init__.py
  python/libm_ext/vectorized/trig.py
  python/libm_ext/vectorized/utils.py
Due: none

chore: Update project metadata and documentation for libm-ext, including enhanced descriptions, new Python README, and improved license information
  libm-ext/Cargo.toml
  libm-ext/README.md
  pyproject.toml
  python/README.md
Due: cargo-sort

refactor: Simplify trigonometric function documentation and replace PI constant with a precise value in trig.rs
  libm-ext/src/trig.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

chore: Add hexf dependency to Cargo.toml for hexadecimal encoding support
  libm-ext/Cargo.toml
Due: cargo-sort

chore: Update .gitignore to include main.rs file in libm-ext
  .gitignore
Due: none

feat: Add Sollya scripts for cosine and sine functions with error analysis
  sollya/cospi.sollya
  sollya/double-double.sollya
  sollya/sinpi.sollya
Due: none

refactor: Enhance trigonometric functions with double-double precision and improved polynomial approximations in trig.rs
  libm-ext/src/trig.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

chore: Update dependency versions in Cargo.toml for consistency and compatibility
  Cargo.toml
  libm-ext/Cargo.toml
Due: cargo-sort

chore: Bump version number to 0.0.2 in Cargo.toml
  libm-ext/Cargo.toml
Due: cargo-sort

refactor: Remove unused add function and associated tests from lib.rs
  libm-ext/LICENSE-APACHE
  libm-ext/LICENSE-MIT
  libm-ext/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

docs: Enhance documentation for trigonometric functions in Rust and Python, including detailed algorithm descriptions and usage examples
  libm-ext/src/trig.rs
  python/libm_ext/trig.py
  python/libm_ext/vectorized/trig.py
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

refactor: Update default threshold for sinpi function to improve performance with larger arrays
  python/libm_ext/vectorized/trig.py
Due: none

docs: Update trigonometric functions documentation to clarify precision types in README files
  README.md
  python/README.md
Due: none

chore: Update version number to 0.0.2 in pyproject.toml
  Cargo.toml
  pyproject.toml
Due: cargo-sort
